@model MenuzRus.Models.InventoryReportModel
<link href="@Url.Content("~/Content/reports.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/JQGrid/css/ui.jqgrid.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/Datepicker/css/datepicker.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap/css/bootstrap-toggle.min.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/JQGrid/js/i18n/grid.locale-en.js")"></script>
<script src="@Url.Content("~/Scripts/JQGrid/js/jquery.jqGrid.src.js")"></script>
<script src="@Url.Content("~/Scripts/Datepicker/js/bootstrap-datepicker.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap/bootstrap-toggle.min.js")"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@{
    System.Globalization.CultureInfo culture = System.Globalization.CultureInfo.CurrentUICulture;
    String sign = culture.NumberFormat.CurrencySymbol;
}

<div class="well container container-report shadow">
    <div class="modal-header main-header">
        <h2>Inventory</h2>
    </div>
    <div class="clearfix">
        <div class="pull-right" style="margin-top: -50px;">
            <input id="graphSwitch" type="checkbox" data-on="Graph" data-off="Report" data-toggle="toggle" data-size="normal" data-onstyle="warning" data-offstyle="success" />
        </div>
    </div>
    <br />
    <div style="width: 450px;">
        <div class="input-group date shadow" id="divDateFrom" data-date="@Model.From.ToShortDateString()" data-date-format="mm/dd/yyyy" style="width: 200px; float: left; cursor: pointer">
            <div class="input-group-addon leiba">From</div>
            <input id="dateFrom" class="add-on form-control input-sm" type="text" value="@Model.From.ToShortDateString()" readonly />
            <span class="input-group-addon add-on glyphicon glyphicon-calendar" style="top: 0px! important"></span>
        </div>
        <div class="input-group date shadow" id="divDateTo" data-date="@Model.To.ToShortDateString()" data-date-format="mm/dd/yyyy" style="width: 200px; float: right; cursor: pointer">
            <div class="input-group-addon leiba">To</div>
            <input id="dateTo" class="add-on form-control input-sm" type="text" value="@Model.To.ToShortDateString()" readonly />
            <span class="input-group-addon add-on glyphicon glyphicon-calendar" style="top: 0px! important"></span>
        </div>
    </div>
    <div style="margin-top: 55px;">
        <table id="jqGrid"></table>
        <div id="chart"></div>
    </div>
</div>

<script>
    var graphArray = [];
    var sign = "@sign";
    var data;

    var options = {
        width: 900,
        height: 600,
        legend: { position: "top", maxLines: 20 },
        bar: { groupWidth: "75%" },
        isStacked: true,
        is3D: true,
        vAxis: { minValue: 0, format: "decimal", title: "Sales $" },
        hAxis: { title: "Days" }
    };

    $(function () {
        //activate chart
        google.charts.load("current", { "packages": ["bar"] });
        google.charts.setOnLoadCallback(drawStuff);

        $("#graphSwitch").bootstrapToggle().change(function () {
            drawStuff();
        })

        var dateFrom = $("#divDateFrom").datepicker({ autoclose: true }).on("changeDate", function (ev) {
            $(".datepicker").hide();
            $("#jqGrid").setGridParam({
                url: getUrl()
            }).trigger("reloadGrid");
        });

        var dateTo = $("#divDateTo").datepicker({ autoclose: true }).on("changeDate", function (ev) {
            $(".datepicker").hide();
            $("#jqGrid").setGridParam({
                url: getUrl()
            }).trigger("reloadGrid");
        });

        $("#jqGrid").jqGrid({
            colNames: ["Date", "Item", "Price", "Start", sign, "In", sign, "Out", sign, "Total", sign],
            colModel: [
                { name: "Date", align: "center", formatter: 'date', formatoptions: { "srcformat": "m-d-Y H:i:s", "newformat": "m/d/Y" }, summaryTpl: "Subtotal:" },
                { name: "Item", align: "left", width: "350px" },
                { name: "Price", align: "right", formatter: "currency", formatoptions: { prefix: sign, suffix: "", thousandsSeparator: "," } },
                { name: "Start", align: "right", formatter: "currency", formatoptions: { prefix: "", suffix: "", thousandsSeparator: "," } },
                { name: "StartTotal", align: "right", formatter: "currency", formatoptions: { prefix: sign, suffix: "", thousandsSeparator: "," }, summaryType: "sum" },
                { name: "In", align: "right", formatter: "currency", formatoptions: { prefix: "", suffix: "", thousandsSeparator: "," } },
                { name: "InTotal", align: "right", formatter: "currency", formatoptions: { prefix: sign, suffix: "", thousandsSeparator: "," }, summaryType: "sum" },
                { name: "Out", align: "right", formatter: "currency", formatoptions: { prefix: "", suffix: "", thousandsSeparator: "," } },
                { name: "OutTotal", align: "right", formatter: "currency", formatoptions: { prefix: sign, suffix: "", thousandsSeparator: "," }, summaryType: "sum" },
                { name: "Total", align: "right", formatter: "currency", formatoptions: { prefix: "", suffix: "", thousandsSeparator: "," } },
                { name: "TotalTotal", align: "right", formatter: "currency", formatoptions: { prefix: sign, suffix: "", thousandsSeparator: "," }, summaryType: "sum" }
            ],
            hidegrid: false,
            rowNum: 50,
            rowList: [10, 20, 50, 100],
            sortable: false,
            sortname: "",
            sortorder: "",
            height: 500,
            width: null,
            shrinkToFit: true,
            autowidth: true,
            datatype: "json",
            loadonce: false,
            viewrecords: true,
            mtype: "GET",
            jsonReader: {
                repeatitems: false,
                id: "id"
            },
            url: getUrl(),
            footerrow: false,
            userDataOnFooter: false,
            grouping: true,
            groupingView: {
                groupField: ["Date"],
                groupColumnShow: [false],
                groupText: ["<b style='margin-left:25px;'>{0}: {1} items(s)</b>"],
                groupCollapse: true,
                groupOrder: ['asc'],
                groupSummary: [true],
                showSummaryOnHide: false,
                groupSummaryPos: ["footer"],
                groupDataSorted: true,
                plusicon: "ui-icon-plus",
                minusicon: "ui-icon-minus"
            },
            loadComplete: function (data) {
                // Save graph data
                graphArray = prepareArrayForGraph(data.headers, data.graph);

                var groups = $("tr.jqgroup");
                groups.each(function (i, e) {
                    var categoryId = $(e).next().find("td:first").text();
                    $(e).children().attr("data-value", categoryId);
                });

                setGridWidth();

                $(".ui-jqgrid-bdiv").children().css("overflow-x", "hidden");
            },
        });

        $($("#jqGrid")).click(function (e) {
            var $target = $(e.target),
                $groupHeader = $target.closest("tr.jqgroup");

            if ($groupHeader.length > 0) {
                if (e.target.nodeName.toLowerCase() !== "span" ||
                        (!$target.hasClass("ui-icon-plus") && !$target.hasClass("ui-icon-minus"))) {
                    $(this).jqGrid("groupingToggle", $groupHeader.attr("id"));
                    return false;
                }
            }
        });

        function toggleGraph() {
            if ($("#graphSwitch").prop("checked")) {
                $("#chart").show();
                $("#gbox_jqGrid").hide();
            }
            else {
                $("#chart").hide();
                $("#gbox_jqGrid").show();
            }
        }

        function setGridWidth() {
            var width = parseInt($(".container-report").width());
            $("td[aria-describedby='jqGrid_Price']").css("padding-right", 10);
            $("td[aria-describedby='jqGrid_Start']").css("padding-right", 10);
            $("td[aria-describedby='jqGrid_StartTotal']").css("padding-right", 10);
            $("td[aria-describedby='jqGrid_In']").css("padding-right", 10);
            $("td[aria-describedby='jqGrid_InTotal']").css("padding-right", 10);
            $("td[aria-describedby='jqGrid_Out']").css("padding-right", 10);
            $("td[aria-describedby='jqGrid_OutTotal']").css("padding-right", 10);
            $("td[aria-describedby='jqGrid_Total']").css("padding-right", 10);
            $("td[aria-describedby='jqGrid_TotalTotal']").css("padding-right", 10);

            $(".ui-icon ").css("margin-top", 2).css("margin-left", 8)
        }

        function getUrl() {
            return $.validator.format("{0}Reports/LoadInventoryData?dateFrom={1}&dateTo={2}", root, $("#dateFrom").val(), $("#dateTo").val());
        }

        function drawStuff() {
            if (graphArray.length == 0) {
                return;
            }

            data = new google.visualization.arrayToDataTable(graphArray);
            var chart = new google.charts.Bar(document.getElementById("chart"));
            chart.draw(data, google.charts.Bar.convertOptions(options));

            toggleGraph();
        };

        function prepareArrayForGraph(header, graph) {
            var inventory = [];
            var multitude;
            if (graph.length > 0) {
                multitude = header.length;

                header.unshift("Inventory");
                header.push({ role: "annotation" })

                inventory.push(header);
                $.each(graph, function (key, value) {
                    if (value.Sales.length < multitude) {
                        var sparseArr = new Array(multitude - value.Sales.length);
                        var denseArr = Array.apply(null, sparseArr).map(function (e) {
                            return e === undefined ? 0 : e;
                        });
                        value.Sales = value.Sales.concat(denseArr);
                    }
                    value.Sales.unshift(value.Date);
                    value.Sales.push("");
                    inventory.push(value.Sales);
                });
            }

            return inventory;
        }

    });
</script>