@model MenuzRus.Models.CheckPrint
@using Extensions;

<style>
    td {
        font-family: Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
        font-size: small;
    }
</style>

<div id="checkPrint" style="padding: 0px; margin: 0px; width: @String.Format("{0}px", Model.PrinterPOSWidth);">
    @*    <table align="center">
        <tr>
            <td>
                <img width="130" src="@String.Format("http://{0}/{1}", Request.Url.Host, Url.Content(String.Format("~/Images/Menus/{0}/Customers/{1}?{2}", Model.MyCompany.id, Model.MyCompany.ImageUrl, Guid.NewGuid().ToString("N"))))" />
            </td>
        </tr>
    </table>*@
    <table align="center" width="100%">
        @*        @if (Model.MyCompany.ImageUrl.IsEmpty()) {
            *@<tr>
                <td style="font-weight: bold;" align="center">@Model.MyCompany.Name.ToUpper()</td>
            </tr>
        @*        }*@
        <tr>
            <td align="center">@Model.MyCompany.Address.ToUpper()</td>
        </tr>
        @if (!String.IsNullOrEmpty(Model.MyCompany.Address2)) {
            <tr>
                <td align="center">@Model.MyCompany.Address2.ToUpper()</td>
            </tr>
        }
        <tr>
            <td align="center">@Model.MyCompany.City.ToUpper(), @Model.MyCompany.State.ToUpper() @Model.MyCompany.Zip</td>
        </tr>
        <tr>
            <td align="center">@Model.MyCompany.Phone.FormatPhone()</td>
        </tr>
        <tr>
            <td style="font-weight: bold;" align="center">
                @String.Format("CHECK #{0}", Model.Check.id)</td>
        </tr>
        <tr>
            <td style="font-weight: bold;" align="center">
                @String.Format("Table#{0}", Model.Check.TableOrder.TableId)
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;" align="center">@String.Format("{0}", ((Common.CheckType)Model.Check.Type)).ToUpper()</td>
        </tr>

        <tr>
            <td align="center">@String.Format("{0}, {1} {2}", Model.CreatedDate.DayOfWeek.ToString().Substring(0, 3), Model.CreatedDate.ToShortDateString(), Model.CreatedDate.ToShortTimeString())</td>
        </tr>
        <tr>
            <td style="font-weight: bold;" align="center">
                @String.Format("Server: {0}{1}", Model.Me.FirstName, Model.Me.LastName.Substring(0, 1))
            </td>
        </tr>
    </table>
    <br />
    <table width="100%">
        @foreach (MenuzRus.Models.LineItem item in Model.Items) {
            <tr>
                <td>@item.Description</td>
                @{
            String price = item.Price > 0 ? item.Price.ToString("C2") : String.Empty;
                    <td style="text-align: right">@price</td>
                }
            </tr>
            foreach (MenuzRus.Models.LineItem subItem in item.SubItems) {
            <tr style="font-style: italic;">
                <td style="padding-left: 5px;">@subItem.Description</td>
                @{
                price = item.Price > 0 ? subItem.Price.ToString("C2") : String.Empty;
                    <td style="text-align: right">@price</td>
                }
                <td style="text-align: right">@price</td>
            </tr>
            }
        }
    </table>
    <hr />
    <table width="100%">
        <tr style="font-weight: bold;">
            <td>Summary:</td>
            <td style="text-align: right">@Model.Summary.ToString("C2")</td>
        </tr>
        @if (Model.AdjustmentPercent != 0) {
            <tr>
                <td>Adjustment: @Model.AdjustmentPercent.ToString("P0")</td>
                <td style="text-align: right">@Model.Adjustment.ToString("C2")</td>
            </tr>
            <tr>
                <td>Subtotal:</td>
                <td style="text-align: right">@Model.Subtotal.ToString("C2")</td>
            </tr>
        }
        <tr>
            <td>Tax: @Model.TaxPercent.ToString("P")</td>
            <td style="text-align: right">@Model.Tax.ToString("C2")</td>
        </tr>
        <tr style="font-weight: bold;">
            <td>Total:</td>
            <td style="text-align: right">@Model.Total.ToString("C2")</td>
        </tr>
    </table>
    <br />
    <table align="center" width="100%">
        @if (Model.Split > 1) {
            <tr style="border-top: 1px dotted black;">
                <td>Split: @Model.Total.ToString("C2")/@Model.Split</td>
                <td style="text-align: right"></td>
            </tr>
            Int32 i = 1;
            foreach (Double split in Model.SplitValues) {
            <tr>
                <td></td>
                <td style="text-align: right">@String.Format("{0}: {1}", i, split.ToString("C2"))</td>
            </tr>
                i++;
            }
        }
    </table>
    <hr style="padding-bottom: 60px;" />
</div>