@model MenuzRus.Models.ContactMeModel
@using Extensions

<div id="form-contactme">
    <h2>Contact Me</h2>
    <div class="cleaner h30">
    </div>
    @using (Html.BeginForm("Index", "ContactMe", FormMethod.Post, new { @class = "form" })) {
        <ul>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(model => model.Name, new { placeholder = "Enter your name", required = "" })
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Enter email", required = "", type = "email", pattern = RegexPattern.EMAIL })
                <span class="form_hint">Proper format "name@something.com"</span>
            </li>
            <li>
                @Html.LabelFor(m => m.Message)
                @Html.TextAreaFor(model => model.Message, new { placeholder = "Enter message", required = "", rows = "10" })
            </li>
            <li>
                <button id="btnCancel" class="button" type="button">Cancel</button>
                <button class="submit" type="submit">Send</button>
            </li>
        </ul>
    }
    <div class="cleaner h30">
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnCancel").click(function () {
            window.location.replace('@Url.Action("Index", "Home")');
        });
    });
</script>