@model MenuzRus.Models.PaymentModel
<script src="@Url.Content("~/Scripts/JQuery/jquery.cardswipe.js")" type="text/javascript"></script>
<div class="modal-header">
    <img id="cardSwipe" style="width:75px; height: 75%;" src="@Url.Content("~/Images/Web/CCSwipe.gif")" class="preview img-thumbnail shadow pull-right" />
    <h2>Payments</h2>
</div>
@{
    Boolean showPaymentInfo = (@Model.Payments.Count > 0);
    String info = String.Empty;
    String button = String.Empty;
    if (!showPaymentInfo) {
        info = "hide";
    }
    else {
        button = "hide";
    }
}

<div id="pagecontent" class="@info">
    <span id="FirstName">@Model.FirstName</span>
    <span id="LastName">@Model.LastName</span>
    <div id="Number">@Model.Number</div>
    <span id="ExpiredMonth">@Model.ExpiredMonth</span>/<span id="ExpiredYear">@Model.ExpiredYear</span>
    <div id="Type">@Model.Type</div>
</div>
<button id="btnSlide" type="button" class="btn btn-default btn-lg @button">Slide you card</button>

<div class="modal-footer">
    <button id="btnCancel" type="button" class="btn btn-default btn-lg">Cancel</button>
    <button id="btnSave" class="btn btn-success btn-lg">Save changes</button>
</div>

<script type="text/javascript">
    var scanstart = function () {
    };

    var scanend = function () {
    };

    var success = function (event, data) {
        if (data.type == "generic") {
            return;
        }
        // Copy data fields to form
        $("#FirstName").html(data.firstName);
        $("#LastName").html(data.lastName);
        $("#Number").html(data.account);
        $("#ExpiredMonth").html(data.expMonth);
        $("#ExpiredYear").html(data.expYear);
        $("#Type").html(data.type);
    }

    var failure = function () {
    }

    // Bind event listeners to the document
    $(document)
        .on("scanstart.cardswipe", scanstart)
        .on("scanend.cardswipe", scanend)
        .on("success.cardswipe", success)
        .on("failure.cardswipe", failure);

    $("#btnCancel").click(function () {
        $(".modalEditForm").modal("hide");
    })

    $("#btnSlide").on("click", function () {
        $(this).hide();
        $("#pagecontent").removeClass("hide");

        $.cardswipe({
            firstLineOnly: true,
            parsers: ["visa", "amex", "mastercard", "discover", "generic"],
            debug: true
        });
    })
</script>