@{String id = String.Format("item_{0}_{1}", Model.CheckItem.id, Model.uid);}
<div id="@Model.CheckItem.id" class="container container-order-item col-md-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading item">
            @if (Model.CheckItem.CheckMenuItemProducts.Any()) {
                <span class="glyphicon pointer glyphicon-minus collapsibleSign" onclick="javascript:toggleItself(this, '#@id');"></span>
            }
            @Model.CheckItem.Name
            <span class="badge">$@Model.CheckItem.Price</span>
            <button type="button" class="btn btn-danger pull-right btnDelete" onclick="javascript:deleteItself($(this).parent().parent())"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
        <div id="@id" class="association collapsible">
            @foreach (MenuzRus.Models.CheckMenuItemProduct itemProduct in Model.CheckItem.CheckMenuItemProducts) {
                var objectType = "checkbox";
                var buttonsClass = "btn-success";
                if (itemProduct.Type == Common.ProductType.Addons) {
                    objectType = "radio";
                    buttonsClass = "btn-info";
                }
                <div class="panel-body shadow associationItem" data-toggle="buttons" data-value="@itemProduct.id">
                    @foreach (MenuzRus.Models.CheckMenuItemProductAssociation itemProductAssociations in itemProduct.CheckMenuItemProductAssociations) {
                        <label class="btn @buttonsClass knopa">
                            <span class="badge">$@itemProductAssociations.Price</span>
                            <input type="@objectType" value="@itemProductAssociations.id" id="@String.Format("{0}_{1}", objectType, itemProductAssociations.id)">
                            <span class="itemNameSmall">@itemProductAssociations.ShortName</span>
                        </label>
                    }
                </div>
            }
        </div>
    </div>
</div>