@model MenuzRus.Models.CustomerModel
@using Extensions
<link href="@Url.Content("~/Scripts/chosen/chosen.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/customer.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/TouchSpin/jquery.bootstrap-touchspin.min.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/JQuery/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/JQuery/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/JQuery/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/JQuery/jquery.blockUI.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TouchSpin/jquery.bootstrap-touchspin.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/noty/packaged/jquery.noty.packaged.min.js")"></script>
<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")"></script>

<div id="bowlG" style="display: none;">
    <div id="bowl_ringG">
        <div class="ball_holderG">
            <div class="ballG">
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("SaveCustomer", "Customer", FormMethod.Post, new { @id = "form-customer", @class = "form-customer", role = "form", enctype = "multipart/form-data" })) {
    <div class="well container container-customer shadow">
        <div class="modal-header">
            <h2>@Resources.Resource.CUSTOMER_TITLE</h2>
        </div>
        <ul class="nav nav-pills btn-default  nav-justified settingsTab">
            <li class="active">
                <a href="#Information" data-toggle="pill">@Resources.Resource.CUSTOMER_TAB_INFORMATION</a>
            </li>
            <li>
                <a href="#Settings" data-toggle="pill">@Resources.Resource.CUSTOMER_TAB_SETTINGS</a>
            </li>
            <li>
                <a href="#Modules" data-toggle="pill">@Resources.Resource.CUSTOMER_TAB_MODULES</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="Information" class="row tab-pane fade in active">
                <div class="col-lg-8 col-md-8">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_COMPANY</div>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control shadow", placeholder = @Resources.Resource.CUSTOMER_COMPANY_PLACEHOLDER, required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_ADDRESS</div>
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control shadow", placeholder = @Resources.Resource.CUSTOMER_ADDRESS_PLACEHOLDER, required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_ADDRESS</div>
                            @Html.TextBoxFor(model => model.Address2, new { @class = "form-control shadow", placeholder = @Resources.Resource.CUSTOMER_ADDRESS_PLACEHOLDER })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_CITY</div>
                            @Html.TextBoxFor(model => model.City, new { @class = "form-control shadow", placeholder = "Enter city", required = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_STATE</div>
                            @Html.DropDownListFor(m => m.State, Model.States, new { @class = "form-control shadow" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_ZIP</div>
                            @Html.TextBoxFor(model => model.Zip, new { @class = "form-control shadow", placeholder = @Resources.Resource.CUSTOMER_ZIP_PLACEHOLDER, required = "", pattern = "(^\\d{5}$)" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_PHONE</div>
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control shadow", placeholder = @Resources.Resource.CUSTOMER_PHONE_PLACEHOLDER })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_TAX</div>
                            @Html.TextBoxFor(model => model.Tax, new { @class = "form-control shadow" })
                        </div>
                    </div>
                </div>
                <div class="imagerow col-lg-4 col-md-4">
                    <img src="@Url.Content(String.Format("~/Images/Menus/{0}/Customers/{1}?{2}", Model.id, Model.ImageUrl, Guid.NewGuid().ToString("N")))" class="preview img-thumbnail shadow" />
                    <input type="file" id="Image" name="Image" />
                    <div class="col-md-1 col-lg-1">
                        <a href="#" id="btnDeleteImage" class="btn btn-danger btn-mini shadow" onclick="deleteImage()">@Resources.Resource.COMMON_DELETE_IMAGE</a>
                    </div>
                </div>
                @Html.HiddenFor(m => m.id)
                @Html.HiddenFor(m => m.ImageUrl)
            </div>
            <div id="Settings" class="row tab-pane fade in">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_POS_PRINTER</div>
                            @Html.DropDownListFor(m => m.PrinterPOS, Model.Printers, new { @class = "form-control shadow" })
                            @Html.DropDownListFor(m => m.PrinterPOSWidth, Model.PrinterWidth, new { @class = "form-control shadow" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_KITCHEN_PRINTER</div>
                            @Html.DropDownListFor(m => m.PrinterKitchen, Model.Printers, new { @class = "form-control shadow" })
                            @Html.DropDownListFor(m => m.PrinterKitchenWidth, Model.PrinterWidth, new { @class = "form-control shadow" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_LANGUAGE</div>
                            @Html.DropDownListFor(m => m.SelectedLanguage, Model.Languages, new { @class = "form-control shadow" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="Modules" class="row tab-pane fade in">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon shadow leiba">@Resources.Resource.CUSTOMER_MODULES</div>
                            <select id="modules" data-placeholder="Click to add applications modules" class="chosen-select" multiple>
                                @foreach (Services.Module module in Model.Modules) {
                                    Services.ModulePrice modulePrice = module.ModulePrices.OrderByDescending(m => m.DateCreated).Take(1).FirstOrDefault();
                                    String select = String.Empty;
                                    if (Model.CustomerModules.Any(m => m.Equals(modulePrice.id))) {
                                        select = "selected";
                                    }
                                    <option value="@modulePrice.id" @select data-value="@modulePrice.Price">@String.Format("{0} (+${1})", module.Name, modulePrice.Price)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button id="btnCancel" type="button" class="btn btn-default btn-lg">Cancel</button>
            <button type="submit" class="btn btn-success btn-lg">Save changes</button>
        </div>
    </div>
    @Html.HiddenFor(m => m.SelectedModules);
}
<script type="text/javascript">
    $(function () {

        initImageUpload($(".container-user"));

        $(".chosen-select").chosen({ width: "310px", display_disabled_options: false }).change(function (event, params) {
            var all2Pay = 0;
            $.each(this.selectedOptions, function (i, e) {
                all2Pay += parseInt($(e).attr("data-value"));
            });
            updateModules(params);
        });

        $(".chosen-container-multi").addClass("shadow")

        $("#btnCancel").click(function () {
            window.history.go(-1);
        });

        $("#Tax").TouchSpin({
            min: 0,
            max: 100,
            step: 0.25,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%'
        });

        $(".bootstrap-touchspin-down, .bootstrap-touchspin-up, .bootstrap-touchspin-postfix").addClass("shadow");

        $("#form-customer").submit(function (e) {
            $("#SelectedModules").val($("#modules").val());
            return true;
        });
    });

    function updateModules(params) {
        // Customer Id
        var id = $("#id").val();
        var moduleId;
        if (params.selected) {
            moduleId = parseInt(params.selected);
        }
        else if (params.deselected) {
            moduleId = -1 * parseInt(params.deselected);
        }

        var container = $("#modules");
        container.block();

        var jqxhr = $.post($.validator.format("{0}Customer/UpdateModules", root), { "id": id, "moduleId": moduleId }, "json")
                      .done(function (result) {
                          message("Updated.", "success", "topCenter");
                      })
        .fail(function () {
            message("Update modules failed.", "error", "topCenter");
        })
        .always(function () {
            container.unblock();
        });
    }
</script>