@model MenuzRus.Models.InventoryAssosiationModel
@using Services
<link href="@Url.Content("~/Scripts/chosen/chosen.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/item.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")"></script>

<div class="modal-header  modal-new">
    <button type="button" class="close itemInventoryClose" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Inventory Association
        <button id="addItem" type="button" class="btn btn-primary" onclick="javascript:addInventoryAssosiation()"><span class="glyphicon glyphicon-plus"></span></button>
    </h4>
</div>
<div class="container container-item">
    @{
        foreach (Services.ItemInventoryAssociation itemInventoryAssociation in Model.ItemInventoryAssociation) {
        <div class="items">
            <div style="margin: 12px 0 12px;">Inventory association #@itemInventoryAssociation.id</div>
            <select id="itemInventory.@itemInventoryAssociation.id" data-value="@itemInventoryAssociation.id" data-placeholder="Click to add inventory assosiation" class="chosen-select">
                @foreach (Services.Category category in Model.Categories) {
                    <option value=""></option>
                    <optgroup label="@category.Name">
                        @foreach (Services.Item item in category.Items) {
                            String select = String.Empty;
                            if (item.ItemInventoryAssociation.AssociatedItemId == item.id) {
                                select = "selected";
                            }
                            <option id="item.@item.id" value="@item.id" @select>@String.Format("{0} : ({1})", item.Name, (Common.UOM)item.UOM)</option>
                        }
                    </optgroup>
                }
            </select>
            @Html.TextBox("Quantity", itemInventoryAssociation.Quantity, new { @class = "form-control input-sm shadow", style = "display: inline;", placeholder = "Qty", required = "" })
            <button type="button" class="btn btn-danger shadow" onclick="javascript:deleteInventoryAssociation($(this).parent())"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
        }
    }
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success btn-lg" onclick="javascript:saveInventoryItems()">Save changes</button>
</div>
<div class="hide">
    <div class="items template">
        <div style="margin: 12px 0 12px;">New inventory association</div>
        <select data-value="0" data-placeholder="Click to add product assosiation" class="chosen-select">
            @foreach (Services.Category category in Model.Categories) {
                <option value=""></option>
                <optgroup label="@category.Name">
                    @foreach (Services.Item item in category.Items) {
                        <option value="@item.id">@String.Format("{0} : ({1})", item.Name, (Common.UOM)item.UOM)</option>
                    }
                </optgroup>
            }
        </select>
        @Html.TextBox("Quantity", "", new { @class = "form-control input-sm shadow", style = "display: inline;", placeholder = "Qty", required = "" })

        <button type="button" class="btn btn-danger shadow" onclick="javascript:deleteInventoryAssociation($(this).parent())"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
<input type="hidden" id="id" />
<script>
    initInventoryChosen();
</script>