@model MenuzRus.Models.DesignerModel
@using Services
<link href="@Url.Content("~/Scripts/chosen/chosen.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/item.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")"></script>

<div class="modal-header  modal-new">
    <button type="button" class="close itemProductClose" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Edit Item Association
        <button id="addItem" type="button" class="btn btn-primary" onclick="javascript:addAssociation()"><span class="glyphicon glyphicon-plus"></span></button>
    </h4>
</div>
<div class="container container-item">
    @{
        foreach (Services.ItemProduct itemProduct in Model.ItemProducts) {
        <div>
            <div style="margin: 12px 0 12px;">Product association #@itemProduct.id</div>
            @{
            var description = EnumHelper<Common.ProductType>.GetDisplayValue((Common.ProductType)itemProduct.Type);
            }
            <button type="button" class="btn btn-default" style="width: 100px;" onclick="javascript:toggleProductType(this)">@description</button>
            <select id="itemProduct.@itemProduct.id" data-value="@itemProduct.id" data-placeholder="Click to add product assosiation" class="chosen-select items shadow" multiple>
                @foreach (Services.Category category in Model.Categories) {
                    <option value=""></option>
                    <optgroup label="@category.Name">
                        @foreach (Services.Item item in category.Items) {
                            String select = String.Empty;
                            if (itemProduct.ItemProductAssociations.Any(m => m.ItemId == item.id)) {
                                select = "selected";
                            }
                            <option id="item.@item.id" value="@item.id" @select>@item.Name</option>
                        }
                    </optgroup>
                }
            </select>
            <button type="button" class="btn btn-danger shadow" onclick="javascript:addAssociation($(this).parent())"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
        }
    }
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success btn-lg" onclick="javascript:saveProductItems()">Save changes</button>
</div>
<div class="hide">
    <div class="template">
        <div style="margin: 12px 0 12px;">New product association</div>
        <button type="button" class="btn btn-default" style="width: 100px;" onclick="javascript:toggleProductType(this)">Alternatives</button>
        <select data-value="0" data-placeholder="Click to add product assosiation" class="chosen-select items shadow" multiple>
            @foreach (Services.Category category in Model.Categories) {
                <option value=""></option>
                <optgroup label="@category.Name">
                    @foreach (Services.Item item in category.Items) {
                        String description = String.Empty;
                        if (!String.IsNullOrEmpty(item.Description)) {
                            description = String.Format("({0})", item.Description);
                        }
                        <option value="@item.id">@item.Name @description</option>
                    }
                </optgroup>
            }
        </select>
        <button type="button" class="btn btn-danger shadow" onclick="javascript:deleteAssociation($(this).parent())"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>
<input type="hidden" id="id" />
<script>
    initProductChosen();
</script>