@model MenuzRus.Models.DesignerModel
@using Services
<link href="@Url.Content("~/Scripts/chosen/chosen.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/item.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")"></script>

<div class="modal-header  modal-new">
    <button type="button" class="close itemProductClose" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Edit Menu</h4>
</div>
<div class="container container-item">
    <div class="left">
        <div style="margin: 12px 0 12px;">Left Menu Panel</div>
        @BuildList(Model.Categories, "leftItems", Common.Side.Left)
    </div>
    <div class="center">
        <div style="margin: 12px 0 12px;">Center Menu Panel</div>
        @BuildList(Model.Categories, "centerItems", Common.Side.Center)
    </div>
    <div class="right">
        <div style="margin: 12px 0 12px;">Right Menu Panel</div>
        @BuildList(Model.Categories, "rightItems", Common.Side.Right)
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="javascript:saveMenuItems()">Save changes</button>
</div>
<input type="hidden" id="id" />

@helper BuildList(List<Category> categories, String name, Common.Side side) {
    <select id="@name" data-placeholder="Click to add menu item" class="chosen-select items shadow" multiple>
        @foreach (Category category in categories) {
            <option value=""></option>
            if (category.Items.Any()) {
            <optgroup label="@category.Name">
                @foreach (Services.Item item in category.Items) {
                    String description = String.Empty;
                    if (!String.IsNullOrEmpty(item.Description)) {
                        description = String.Format("({0})", item.Description);
                    }
                    String selected = String.Empty;
                    if (Model.MenuItems.Any(m => m.ItemId == item.id && m.Side == (Int32)side)) {
                        selected = "selected";
                    }
                    <option value="@item.id" @selected>@item.Name @description</option>
                }
            </optgroup>
            }
        }
    </select>
}

<script>
    $(function () {
        $("#leftItems").chosen({ width: "350px", display_disabled_options: false });
        $("#centerItems").chosen({ width: "350px", display_disabled_options: false });
        $("#rightItems").chosen({ width: "350px", display_disabled_options: false });
    });
</script>