@model MenuzRus.Models.MonitorFloorModel
@using Extensions
<div id="floorContainer">
    @foreach (MenuzRus.Models.TableOrder table in Model.Floor.Tables) {
        <div id="@table.Order.TableId" class="table btn btn-default" data-value="@table.Order.TableId" data-date="@table.Order.DateModified" data-status="@table.Order.Status"  onclick="javascript:viewTable(@table.Order.TableId)">
            <div class="tableNameStatus label shadow">@table.TableName</div>
            <div id="checks-container">
                @foreach (Services.OrderCheck check in table.Order.OrderChecks) {
                    <div class="label label-success shadow" data-status="@check.Status">#@check.id</div>
                }
            </div>
            <div class="timer label shadow"></div>
        </div>
    }
</div>