@model List<Services.Category>
@foreach (Services.Category category in Model) {
    <div class="category" data-value="@category.id">
        @category.Name
    </div>
    foreach (Services.Item item in category.Items) {
        Decimal price = (Decimal)item.ItemPrices.OrderByDescending(m => m.DateCreated).Take(1).Select(m => m.Price).FirstOrDefault();
    <div id="item.@item.id" class="btn btn-default knopaMenu" data-value="@item.id" onclick="javascript:orderMenuItem(@item.id)">
        <div class="label label-default itemPrice shadow" data-value="@price">@String.Format("${0}", price)</div>
        <div class="itemNameSmall">@item.Name</div>
    </div>
    }
}