@model MenuzRus.Models.CheckPrint
<div class="print-view-container">
    <table id="tableAddress" class="center">
        <tbody>
            <tr>
                <td>
                    <div class="mainItem centered">@MenuzRus.SessionData.customer.Name</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="centered">@MenuzRus.SessionData.customer.Address</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="centered">@MenuzRus.SessionData.customer.Address2</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="centered">@MenuzRus.SessionData.customer.City, @MenuzRus.SessionData.customer.State @MenuzRus.SessionData.customer.Zip</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="centered">@MenuzRus.SessionData.customer.Phone</div>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="tableItems" class="center">
        <tbody>
            @foreach (MenuzRus.Models.LineItem item in Model.Items) {
                <tr>
                    <td>
                        <div class="mainItem">@item.Description</div>
                    </td>
                    <td class="col-md-2 col-sm-2"></td>
                    <td>
                        <div class="pull-right mainItem">@item.Price.ToString("C2")</div>
                    </td>
                </tr>
                foreach (MenuzRus.Models.LineItem subItem in item.SubItems) {
                <tr>
                    <td>
                        <div class="subItem">@subItem.Description</div>
                    </td>
                    <td class="col-md-2 col-sm-2"></td>
                    <td>
                        <div class="subItem pull-right">@subItem.Price.ToString("C2")</div>
                    </td>
                </tr>
                }
            }
            <tr>
                <td>
                    <div class="mainItem">Summary:</div>
                </td>
                <td class="col-md-2 col-sm-2"></td>
                <td>
                    <div class="mainItem pull-right">@Model.Summary.ToString("C2")</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tax">Tax: @Model.TaxPercent.ToString("P")</div>
                </td>
                <td class="col-md-2 col-sm-2"></td>
                <td>
                    <div class="tax pull-right">@Model.Tax.ToString("C2")</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tax">Adjustment: @Model.AdjustmentPercent.ToString("P")</div>
                </td>
                <td class="col-md-2 col-sm-2"></td>
                <td>
                    <div class="tax pull-right">@Model.Adjustment.ToString("C2")</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="total">Total:</div>
                </td>
                <td class="col-md-2 col-sm-2"></td>
                <td>
                    <div id="total" class="total pull-right">@Model.Total.ToString("C2")</div>
                </td>
            </tr>
            @if (Model.Split > 1) {
                <tr>
                    <td style="vertical-align: top; padding-top: 25px;">
                        <div class="total">Split:</div>
                    </td>
                    <td class="col-md-2 col-sm-2"></td>
                    <td style="padding-top: 25px;">
                        <div class="total pull-right">@Model.Total.ToString("C2")/@Model.Split</div>
                    </td>
                </tr>
                foreach (Double split in Model.SplitValues) {
                <tr>
                    <td>
                        <div class="total"></div>
                    </td>
                    <td class="col-md-2 col-sm-2"></td>
                    <td>
                        <div class="total pull-right">@split.ToString("C2")</div>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>