@model List<MenuzRus.Models.CheckMenuItemProduct>
@foreach (MenuzRus.Models.CheckMenuItemProduct itemProduct in Model.OrderBy(m => m.Type)) {
    String objectType = "checkbox";
    String buttonsClass = "btn-success";
    if (itemProduct.Type == Common.ProductType.Alternatives) {
        objectType = "radio";
        buttonsClass = "btn-info";
    }
    <div class="panel-body shadow associationItem" data-toggle="buttons" data-value="@itemProduct.id">
        @foreach (MenuzRus.Models.CheckMenuItemProductAssociation itemProductAssociations in itemProduct.CheckMenuItemProductAssociations) {
            String active = String.Empty;
            if (itemProductAssociations.Selected) {
                active = "active";
            }
            <label class="btn @buttonsClass knopa @active" onclick="saveItem(this)">
                <span class="badge price">$@itemProductAssociations.Price</span>
                <input class="knopka" type="@objectType" data-value="@itemProductAssociations.id" id="@String.Format("{0}_{1}", objectType, itemProductAssociations.id)" data-type="@itemProduct.Type">
                <span class="itemNameSmall">@itemProductAssociations.ShortName</span>
            </label>
        }
    </div>
}