@model MenuzRus.Models.OrderModel
@using Services

<ul class="nav nav-pills btn-default checks">
    @if (Model.Checks != null) {
        foreach (MenuzRus.Models.Check check in Model.Checks) {
        <li><a href="@String.Format("#Check{0}", check.id)" data-value="@check.id" data-type="@check.Type" data-status="@check.Status" data-toggle="pill">
            @String.Format("#{0}", check.id)
            @if (check.Status == Common.CheckStatus.Ordered) {
                <i class="glyphicon glyphicon-usd paid" />
            }
        </a></li>
        }
    }
</ul>
<div class="tab-content order-tabs check">
    @if (Model.Checks != null) {
        foreach (MenuzRus.Models.Check check in Model.Checks) {
        <div class="tab-pane fade in" id="@String.Format("Check{0}", check.id)" data-value="@check.id" data-type="@check.Type" data-status="@check.Status">
        </div>
        }
    }
</div>