@model MenuzRus.Models.UserModel
<link href="@Url.Content("~/Content/user.css")" rel="stylesheet" />

@using (Html.BeginForm("SaveUser", "User", FormMethod.Post, new { @id = "form-user", @class = "form-user", role = "form", enctype = "multipart/form-data" })) {
    <div class="modal-header">
        <h2>@Resources.Resource.USER_FORM_TITLE</h2>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-sm shadow", placeholder = Resources.Resource.REGISTRATION_FIRST_NAME, required = "" })
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-sm shadow", placeholder = Resources.Resource.REGISTRATION_LAST_NAME, required = "" })
            @Html.TextBoxFor(model => model.WorkPhone, new { @class = "form-control input-sm shadow", placeholder = Resources.Resource.REGISTRATION_WORK_PHONE, required = "", pattern = Extensions.RegexPattern.PHONE_NUMBER, type = "phone" })
            @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control input-sm shadow", placeholder = Resources.Resource.REGISTRATION_MOBILE_PHONE, pattern = Extensions.RegexPattern.PHONE_NUMBER, type = "phone" })
            @Html.DropDownListFor(m => m.Type, new SelectList(Enum.GetValues(typeof(CommonUnit.UserType))), new { @class = "form-control input-sm shadow" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm shadow", placeholder = Resources.Resource.REGISTRATION_EMAIL, required = "", type = "email", pattern = Extensions.RegexPattern.EMAIL })
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-sm shadow", placeholder = Resources.Resource.REGISTRATION_PASSWORD, required = "", type = "password" })
            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control input-sm shadow", placeholder = Resources.Resource.REGISTRATION_CONFIRM_PASSWORD, required = "", type = "password" })
            <div id="passwordsError" class="hide alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @Resources.Resource.REGISTRATION_PASSWORD_FAILED
            </div>
        </div>
        <div class="imagerow col-lg-4 col-md-4">
            <img src="@Url.Content(String.Format("~/Images/Menus/{0}/Users/{1}?{2}", Model.CustomerId, Model.ImageUrl, Guid.NewGuid().ToString("N")))" class="preview img-thumbnail shadow" />
            <input type="file" id="Image" name="Image" />
            <div>
                <a href="#" id="btnDeleteImage" class="btn btn-danger btn-mini shadow" onclick="deleteImage()">@Resources.Resource.COMMON_DELETE_IMAGE</a>
            </div>
        </div>
        @Html.HiddenFor(m => m.Active)
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.CustomerId)
        @Html.HiddenFor(m => m.ImageUrl)
        @Html.HiddenFor(m => m.Referer)
    </div>
    <div class="modal-footer">
        <button id="btnCancel" type="button" class="btn btn-default btn-lg">@Resources.Resource.COMMON_CANCEL</button>
        <button id="btnSave" type="button" class="btn btn-success btn-lg">@Resources.Resource.COMMON_SAVE_CHANGES</button>
    </div>
}
<script type="text/javascript">
    $(function () {
        $("#Referer").val("Modal");
        initImageUpload($(".container-user"));
        $("#ConfirmPassword").focusout(function (e) {
            $("#passwordsError").addClass("hide");
            if ($("#Password").val() != $("#ConfirmPassword").val()) {
                $("#passwordsError").removeClass("hide");
                $("#ConfirmPassword").focus();
                return false;
            }
            return true;
        });

        $("#btnSave").on("click", function () {
            if ($("#Password").val() != $("#ConfirmPassword").val()) {
                $("#passwordsError").show();
                $("#ConfirmPassword").focus();
                return false;
            }
            $("#form-user").submit();
        });

        $("#btnCancel").on("click", function () {
            $(".modalEditForm").modal("hide");
        })
    });</script>