@model MenuzRus.Models.FloorModel
@using Services
<link href="@Url.Content("~/Content/floor.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/floor.js")"></script>
<script src="@Url.Content("~/Scripts/JQuery/jquery.json-2.4.min.js")"></script>

<div class="modal floorEditForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-new">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title floorTitle"></h4>
            </div>
            <div id="floorEditForm" class="modal-body">
                <div class="container">
                    <div class="row">
                        @Html.TextBoxFor(m => m.Floor.Name, new { @class = "form-control input-sm shadow col-md-3", required = "", placeholder = "Enter new floor name" })
                    </div>
                    <div class="row">
                        @Html.TextAreaFor(m => m.Floor.Description, new { @class = "form-control input-sm shadow", rows = 5, placeholder = "Enter Item Name Description", type = "text" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCancelFloor" type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                <button id="btnSaveFloor" type="button" class="btn btn-success btn-lg">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal tableEditForm" role="dialog">
    @Html.Hidden("currentTableId")
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-new">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title tableTitle"></h4>
            </div>
            <div id="tableEditForm" class="modal-body">
                <div class="container">
                    <div class="row">
                        @{
                            List<SelectListItem> list = new List<SelectListItem>();
                            list.Add(new SelectListItem() { Text = "Square", Value = "square" });
                            list.Add(new SelectListItem() { Text = "Circle", Value = "circle" });
                            list.Add(new SelectListItem() { Text = "Round", Value = "round" });
                            list.Add(new SelectListItem() { Text = "Filler", Value = "filler" });
                        }

                        @Html.Label("Change shape")
                        @Html.DropDownList("ddlShape", list, new { @class = "form-control input-sm shadow" })
                        <br />
                        @Html.Label("Change table name")
                        @Html.TextBox("TableName", "", new { @class = "form-control input-sm shadow", required = "", placeholder = "Enter new table ID" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCancelTable" type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                <button id="btnSaveTable" type="button" class="btn btn-success btn-lg">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="well container container-floor shadow">
    <div class="modal-header main-header">
        <h2>Floor Setup</h2>
    </div>
    <div id="default" style="margin-top: 20px;">
        <div class="btn-group pull-left addMenu">
            <button id="btnAddNew" type="button" class="btn alert-warning dropdown-toggle btn-lg" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus" style="left: 10px;">&nbsp;</span>
            </button>
            <ul class="dropdown-menu alert-warning" role="menu">
                <li><a href="javascript:addNewTable('square')">Square</a></li>
                <li><a href="javascript:addNewTable('circle')">Circle</a></li>
                <li><a href="javascript:addNewTable('round')">Round</a></li>
                <li class="divider"></li>
                <li><a href="javascript:addNewTable('filler')">Filler</a></li>
            </ul>

            <div class="floor dropdown">
                <button id="btnFloor" type="button" class="btn alert-warning btn-lg" data-toggle="dropdown">@Model.Floor.Name&nbsp;</button>
                <ul id="floor" class="dropdown-menu alert-warning" role="menu">
                    @foreach (Floor floor in Model.Floors) {
                        <li><a href="#" data-value="@floor.id">@floor.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <button id="btnNewFloor" type="button" class="btn btn-primary btn-md btn-lg shadow" style="margin-left: 10px;">New floor</button>
        <button id="btnEditFloor" type="button" class="btn btn-primary btn-md btn-lg  shadow">Edit floor</button>
        <button id="btnDeleteFloor" type="button" class="btn btn-danger btn-md shadow btn-lg">Delete floor</button>
        <button id="btnSave" type="button" class="btn btn-success btn-lg pull-right">Save changes</button>
    </div>
    <div class="floorArea shadow">
        <ul id="tables">
        </ul>
    </div>
    <a href="#">Tables <span class="tables badge"></span></a>
</div>
@Html.HiddenFor(m => m.Floor.id)
@Html.HiddenFor(m => m.Floor.Name)
@Html.HiddenFor(m => m.Floor.Layout)