@model MenuzRus.Models.MenuDesignerModel
@using Services
<link href="@Url.Content("~/Content/product.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/jquery.colpick.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery/jquery.colpick.js")"></script>
<script src="@Url.Content("~/Scripts/product.js")"></script>
<div class="well toolbar">
    <div class="modal-header main-header">
        <h2>Product designer</h2>
    </div>
    <div id="default">
        @Html.DropDownListFor(m => m.Menu.id, new SelectList(Model.Menus, "id", "Name"), new { @class = "form-control input-sm shadow col-md-3" })
        <div class="pull-right">
            <button id="btnNewCategory" type="button" class="btn btn-primary  btn-sm shadow" data-toggle="modal" onclick="javascript:editCategory(0)">New category</button>
            <button id="btnNewItem" type="button" class="btn btn-primary  btn-sm shadow" data-toggle="modal" onclick="javascript:editItem(0)">New item</button>
        </div>
    </div>
</div>
<div class="well container">
    <div id="panel" class="panel panel-default panel-MenuDesigner shadow">
        <div class="panel-MenuDesigner-body">
            <div class="wall">
                <div class="page">
                    @ShowPage(Model)
                </div>
            </div>
        </div>
    </div>
</div>

@helper ShowPage(MenuzRus.Models.MenuDesignerModel Model) {
    <ul class="category-group media-list">
        @if (Model.Categories != null) {
            foreach (Category category in Model.Categories.ToList()) {
            <li  class="media" data-value="@category.id">
                <hr>
                <div class="pull-left category_column">
                    <div class="btn-group category" data-value="@category.id">
                        <button id="cancelCategoryMenu" type="button" class="btn btn-default" onclick="javascript:  $('.btn-group').css('display', 'none')"><span class="glyphicon glyphicon-remove"></span></button>
                        <button id="editCategory" type="button" class="btn btn-info" onclick="javascript:editCategory(@category.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button id="addCategory" type="button" class="btn btn-primary" onclick="ajavascript:editCategory(0)"><span class="glyphicon glyphicon-plus"></span></button>
                        <button id="deleteCategory" type="button" class="btn btn-danger" onclick="javascript:deleteCategory(@category.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                    <div class="media-body">
                        <a href="javascript:showCategoryMenu(@category.id)">
                            @if (!String.IsNullOrEmpty(category.Name)) {
                                String categoryDataValue = String.Format("{0}{1}", "category_", category.id);
                                <div id="@categoryDataValue" class="category" data-value="@category.id">
                                    @category.Name
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(@category.Description)) {
                                <div class="categoryDescription">@category.Description</div>
                            }
                            @if (!String.IsNullOrEmpty(@category.ImageUrl)) {
                                <img src="@Url.Content(String.Format("/Images/Menus/{0}/Categories/{1}?{2}", Model.MyCompany.id, category.ImageUrl, Guid.NewGuid().ToString("N")))" class="media-object categoryImage" />
                            }
                        </a>
                    </div>
                </div>
                <div class="pull-left item_column">
                    @if (category.Items != null && !String.IsNullOrEmpty(category.Name)) {
                        <ul class="items-group media-list">
                            @foreach (Item item in category.Items) {
                                <li class="media"  data-value="@item.id">
                                    <div class="btn-group item" data-value="@item.id">
                                        <button id="cancelItemMenu" type="button" class="btn btn-default" onclick="javascript:  $('.btn-group').css('display', 'none')"><span class="glyphicon glyphicon-remove"></span></button>
                                        <button id="editItrem" type="button" class="btn btn-info" onclick="javascript:editItem(@item.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button id="addItem" type="button" class="btn btn-primary" onclick="ajavascript:editItem(0)"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button id="deletItem" type="button" class="btn btn-danger" onclick="javascript:deleteItem(@item.id)"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                    <a href="javascript:showItemMenu(@item.id)">
                                        @if (!String.IsNullOrEmpty(item.Name)) {
                                            String itemDataValue = String.Format("{0}{1}", "item_", item.id);
                                            <div id="@itemDataValue" class="item" data-value="@item.id">
                                                @item.Name
                                            </div>
                                        }
                                        @if (!String.IsNullOrEmpty(item.Description)) {
                                            <div class="itemDescription">@item.Description </div>
                                        }
                                        @if (!String.IsNullOrEmpty(@item.ImageUrl)) {
                                            <img src="@Url.Content(String.Format("/Images/Menus/{0}/Items/{1}?{2}", Model.MyCompany.id, item.ImageUrl, Guid.NewGuid().ToString("N")))" class="media-object itemImage" />
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </li>
            }
        }
    </ul>
}