@model MenuzRus.Models.MenuDesignerModel
@using Services
<link href="@Url.Content("~/Content/product.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/jquery.colpick.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery/jquery.colpick.js")"></script>
<script src="@Url.Content("~/Scripts/product.js")"></script>
<div class="well container container-product shadow">
    <div class="modal-header main-header">
        <h2>Product designer</h2>
    </div>

    <div id="default" class="clearfix">
        <div class="btn-group menu">
            <button id="btnMenu" type="button" class="btn btn-default" data-toggle="dropdown">@Model.Menu.Name&nbsp;</button>
            <button id="btnMenuToogle" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul id="floor" class="dropdown-menu" role="menu">
                @foreach (Menu menu in Model.Menus) {
                    <li><a href="#" data-value="@menu.id">@menu.Name</a></li>
                }
            </ul>
        </div>

        <div class="pull-right">
            <button id="btnNewCategory" type="button" class="noshow btn btn-primary  btn-sm shadow" data-toggle="modal" onclick="javascript:editCategory(0)">New category</button>
            <button id="btnNewItem" type="button" class="noshow btn btn-primary  btn-sm shadow" data-toggle="modal" onclick="javascript:editItem(0)">New item</button>
        </div>
    </div>

    <div id="panel" class="page shadow">
        @if (Model.Categories != null) {
            <table class="table navbar-inverse" style="margin-bottom: -1px; border-radius: 6px;">
                <thead style="color: #fff">
                    <tr>
                        <th style="width: 4%"></th>
                        <th style="width: 2%"><span class="glyphicon glyphicon-picture"></span></th>
                        <th style="width: 30%">Name</th>
                        <th style="width: 33%">Description</th>
                        <th style="width: 9%">Price</th>
                        <th style="width: 4%"></th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
            <div class="bodycontainer scrollable">
                <table class="table">
                    <tbody>
                        @foreach (Category category in Model.Categories.ToList()) {
                            String selector = String.Format(".items_{0}", category.id);
                            <tr class="categoryRow">
                                <td style="width: 4%">
                                    <span class="glyphicon glyphicon-minus pointer" onclick="javascript:collapseCategory(this, '@selector');"></span>
                                </td>
                                <td style="width: 2%">
                                    @if (!String.IsNullOrEmpty(@category.ImageUrl)) {
                                        <span id="popover" class="glyphicon glyphicon-picture" data-toggle="popover" data-content='<img src="@Url.Content(String.Format("~/Images/Menus/{0}/Categories/{1}?{2}", Model.MyCompany.id, category.ImageUrl, Guid.NewGuid().ToString("N")))" class="media-object image" />'></span>
                                    }
                                </td>
                                <td style="width: 30%">
                                    @if (!String.IsNullOrEmpty(category.Name)) {
                                        <div class="category" data-value="@category.id">
                                            @category.Name
                                        </div>
                                    }
                                </td>
                                <td style="width: 31%">
                                    @if (!String.IsNullOrEmpty(@category.Description)) {
                                        <div class="categoryDescription">@category.Description</div>
                                    }
                                </td>
                                <td style="width: 8%"></td>
                                <td style="width: 10%"></td>
                                <td>
                                    <span class="glyphicon glyphicon-cog pointer" onclick="javascript:showCategoryMenu(@category.id, this)"></span>
                                    <div class="btn-group popup-category" data-value="@category.id">
                                        <button id="cancelCategoryMenu" type="button" class="btn btn-default" onclick="javascript:  $(this).parent().css('display', 'none'); $('.glyphicon-cog').show();"><span class="glyphicon glyphicon-remove"></span></button>
                                        <button id="editCategory" type="button" class="btn btn-info" onclick="javascript:editCategory(@category.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button id="addCategory" type="button" class="btn btn-primary" onclick="ajavascript:editCategory(0)"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button id="deleteCategory" type="button" class="btn btn-danger" onclick="javascript:deleteCategory(@category.id)"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                                    if (category.Items != null && !String.IsNullOrEmpty(category.Name)) {
                                        foreach (Item item in category.Items) {
                                            String classname = String.Format("items_{0}", category.id);
                            <tr class="@classname">
                                <td></td>
                                <td>
                                    @if (!String.IsNullOrEmpty(@item.ImageUrl)) {
                                        <span id="popover" class="glyphicon glyphicon-picture pointer" data-toggle="popover" data-content='<img src="@Url.Content(String.Format("~/Images/Menus/{0}/Items/{1}?{2}", Model.MyCompany.id, item.ImageUrl, Guid.NewGuid().ToString("N")))" class="media-object image" />'></span>
                                    }
                                </td>
                                <td>
                                    @if (!String.IsNullOrEmpty(item.Name)) {
                                        <div class="item" data-value="@item.id">
                                            @item.Name
                                        </div>
                                    }
                                </td>
                                <td>
                                    @if (!String.IsNullOrEmpty(item.Description)) {
                                        <div class="itemDescription">@item.Description </div>
                                    }
                                </td>

                                <td>
                                    @if (item.ItemPrices != null) {
                                        Decimal price = (Decimal)item.ItemPrices.OrderByDescending(m => m.DateCreated).Take(1).Select(m => m.Price).FirstOrDefault();
                                        if (price != 0) {
                                        <div class="itemPrice pull-right">$@price</div>
                                        }
                                    }
                                </td>
                                <td></td>
                                <td>
                                    <span class="glyphicon glyphicon-cog pointer" onclick="javascript:showItemMenu(@item.id, this)"></span>
                                    <div class="btn-group popup-item" data-value="@item.id">
                                        <button id="cancelItemMenu" type="button" class="btn btn-default" onclick="javascript: $(this).parent().css('display', 'none'); $('.glyphicon-cog').show();"><span class="glyphicon glyphicon-remove"></span></button>
                                        <button id="editItrem" type="button" class="btn btn-info" onclick="javascript:editItem(@item.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button id="addItem" type="button" class="btn btn-primary" onclick="javascript:editItem(0)"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button id="deletItem" type="button" class="btn btn-danger" onclick="javascript:deleteItem(@item.id)"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                                        }
                                    }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>