@model MenuzRus.Models.KitchenOrderPrintModel
@using Services
<link href="@Url.Content("~/Content/kitchenOrder.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/JQGrid/css/ui.jqgrid.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/Datepicker/css/datepicker.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/JQGrid/js/i18n/grid.locale-en.js")"></script>
<script src="@Url.Content("~/Scripts/JQGrid/js/jquery.jqGrid.src.js")"></script>
<script src="@Url.Content("~/Scripts/Datepicker/js/bootstrap-datepicker.js")"></script>
<div class="well container container-designer shadow">
    <div class="modal-header main-header">
        <h2>Kitchen Order Monitor</h2>
    </div>
    <br />
    <div class="input-group date shadow" id="date" data-date="@DateTime.Now.ToShortDateString()" data-date-format="mm/dd/yyyy" style="width: 300px">
        <div class="input-group-addon leiba">Date more than</div>
        <input id="dateRequested" class="add-on form-control input-sm" type="text" value="@DateTime.Now.ToShortDateString()" readonly />
        <span class="input-group-addon add-on glyphicon glyphicon-calendar" style="top:0px! important"></span>
    </div>
    <br />
    <table id="jqGrid"></table>
</div>

<script>
    $(function () {
        window.setInterval(function () {
            $("#jqGrid").setGridParam({
                url: $.validator.format("{0}KitchenOrder/LoadData?date={1}", root, $("#dateRequested").val())
            }).trigger("reloadGrid");
        }, 60 * 1000);

        $("#date").datepicker().on("changeDate", function (ev) {
            $(".datepicker ").toggle();
            $("#jqGrid").setGridParam({
                url: $.validator.format("{0}KitchenOrder/LoadData?date={1}", root, $("#dateRequested").val())
            }).trigger("reloadGrid");
        });

        $(window).on("resize", function () {
            setGridWidth();
        });

        $("#jqGrid").jqGrid({
            caption: "Kitchen order",
            colNames: ["Kitchen order#", "Check#", "Date Created", "Status"],
            colModel: [
                { name: "id", align: "center" },
                { name: "CheckId", align: "center" },
                { name: "DateCreated", align: "center" },
                { name: "Status", align: "center" }
            ],
            hidegrid: false,
            rowNum: 50,
            rowList: [10, 20, 50, 100],
            sortable: false,
            sortname: "id",
            sortorder: "asc",
            height: "500",
            width: null,
            shrinkToFit: true,
            autowidth: true,
            datatype: "json",
            caption: "",
            loadonce: false,
            viewrecords: true,
            mtype: "GET",
            jsonReader: {
                repeatitems: false,
                id: "id"
            },
            url: $.validator.format("{0}KitchenOrder/LoadData?date={1}", root, $("#dateRequested").val()),
            loadComplete: function (data) {
                var groups = $("tr.jqgroup");
                groups.each(function (i, e) {
                    var categoryId = $(e).next().find("td:first").text();
                    $(e).children().attr("data-value", categoryId);
                });
                setGridWidth();

            },
        }).css("min-height", "500px");

        $(".ui-jqgrid-bdiv").children().css("overflow", "auto")

        $("#jqGrid").click(function (e) {
            var $target = $(e.target),
                $groupHeader = $target.closest("tr.jqgroup");

            if ($target.hasClass("btn")) {
                return false;
            }

            if ($groupHeader.length > 0) {
                if (e.target.nodeName.toLowerCase() !== "span" ||
                        (!$target.hasClass("ui-icon-plusthick") && !$target.hasClass("ui-icon-minusthick"))) {
                    $(this).jqGrid("groupingToggle", $groupHeader.attr("id"));
                    return false;
                }
            }
        });

        function setGridWidth() {
            var width = parseInt($(".container-designer").width());
            $("#jqGrid").setGridWidth(width);

            $(".ui-jqgrid-hdiv").width(width - 20);
            $(".ui-jqgrid-view").width(width - 20);
            $(".ui-jqgrid-bdiv").width(width - 20);
            $(".ui-widget-content").width(width - 20);
        }

    });
</script>