@model MenuzRus.Models.ItemModel
<link href="@Url.Content("~/Content/item.css")" rel="stylesheet" />
<div class="container">

    @using (Html.BeginForm("Save", "Item", FormMethod.Post, new { @id = "form-item", @class = "form-item", role = "form", enctype = "multipart/form-data" })) {
        <div id="panel" class="panel panel-primary shadow">
            <div class="panel-heading">Edit Item</div>
            <div class="panel-body">
                <div class="row">
                    <div class="imagerow col-lg-4 col-md-4">
                        <img src="@Url.Content(String.Format("/Images/Menus/{0}/Items/{1}?{2}", Model.MyCompany.id, Model.ImageUrl, Guid.NewGuid().ToString("N")))" class="preview img-thumbnail shadow" />
                        <input type="file" id="Image" name="Image" />
                    </div>
                    <div class="col-lg-8 col-md-8">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm shadow", placeholder = "Enter Item Name", required = "", type = "text", autofocus = "" })
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control input-sm shadow", rows = 5, placeholder = "Enter Item Name Description", type = "text" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <a href="#" id="btnDeleteImage" class="btn btn-danger btn-mini shadow" onclick="deleteImage()">Delete Image</a>
                    </div>
                    <div class="col-md-3 col-lg3">
                        @Html.DropDownListFor(m => m.Active, new SelectList(Enum.GetValues(typeof(Common.Status))), new { @class = "form-control input-sm shadow" })
                    </div>
                    <div class="col-md-5 col-lg5">
                        @Html.TextBoxFor(model => model.ShowAsPrice, new { @class = "form-control input-sm shadow", placeholder = "Enter Item Price", required = "", type = "text" })
                    </div>
                </div>

                @Html.HiddenFor(m => m.id)
                @Html.HiddenFor(m => m.CategoryId)
                @Html.HiddenFor(m => m.ImageUrl)
                <div class="panel-footer col-md-12 col-lg-12">
                    <div class="buttons col-md-offset-4">
                        <button id="btnSave" type="submit" class="btn btn-primary shadow">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

<script>
    $(function () {
        initImageUpload();
    })
</script>