@model MenuzRus.Models.UsersModel
@using Services
<link href="@Url.Content("~/Content/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/base/jquery-ui-custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/users.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/users.js")"></script>

<div class="well container container-users shadow">
    <div class="modal-header">
        <h2>Users Form</h2>
    </div>
    <div id="panel" class="shadow">
        <table class="table navbar-inverse" style="margin-bottom: -1px; border-radius: 6px;">
            <thead style="color: #fff">
                <tr>
                    <th style="width: 2%"><span class="glyphicon glyphicon-picture"></span></th>
                    <th style="width: 15%">First Name</th>
                    <th style="width: 15%">Last Name</th>
                    <th style="width: 15%">Email</th>
                    <th style="width: 15%">Mobile #</th>
                    <th style="width: 15%">Work #</th>
                    <th style="width: 23%">Actions</th>
                </tr>
            </thead>
        </table>
        <div class="bodycontainer scrollable">
            <table class="table">
                <tbody>
                    @if (Model.Users != null) {
                        foreach (User user in Model.Users) {
                            String classname = String.Format("logs_{0}", user.id);
                        <tr class="userRow">
                            <td style="width: 2%">
                                @if (!String.IsNullOrEmpty(user.ImageUrl)) {
                                    <span id="popover" class="glyphicon glyphicon-picture" data-toggle="popover" data-content='<img src="@Url.Content(String.Format("~/Images/Menus/{0}/Users/{1}?{2}", Model.MyCompany.id, user.ImageUrl, Guid.NewGuid().ToString("N")))" class="media-object image" />'></span>
                                }
                            </td>
                            <td style="width: 15%">
                                @user.FirstName
                            </td>
                            <td style="width: 15%">
                                @user.LastName
                            </td>
                            <td style="width: 15%">
                                @user.Email
                            </td>
                            <td style="width: 15%">
                                @user.MobilePhone
                            </td>
                            <td style="width: 17%">
                                @user.WorkPhone
                            </td>
                            <td style="width: 23%">
                                <span class="glyphicon glyphicon-cog pointer" onclick="javascript:showUserMenu(@user.id, this)"></span>
                                <div class="btn-group" data-value="@user.id">
                                    <button id="cancelUserMenu" type="button" class="btn btn-default" onclick="javascript:  $(this).parent().css('display', 'none'); $('.glyphicon-cog').show();"><span class="glyphicon glyphicon-remove"></span></button>
                                    <button id="editUser" type="button" class="btn btn-info" onclick="javascript:editUser(@user.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button id="addUser" type="button" class="btn btn-primary" onclick="ajavascript:editUser(0)"><span class="glyphicon glyphicon-plus"></span></button>
                                    <button id="deleteUser" type="button" class="btn btn-danger" onclick="javascript:deleteUser(@user.id)"><span class="glyphicon glyphicon-trash"></span></button>
                                </div>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>