@model MenuzRus.Models.KitchenModel
@using Services
<link href="@Url.Content("~/Scripts/countdown/jquery.countdown.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kitchen.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/countdown/jquery.plugin.js")"></script>
<script src="@Url.Content("~/Scripts/countdown/jquery.countdown.js")"></script>
<script src="@Url.Content("~/Scripts/JQuery/jquery.json-2.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/monitors.js")"></script>

<div id="modalDetails">
</div>

<div class="well container container-floor shadow">
    <div class="modal-header main-header">
        <h2>Kitchen monitor</h2>
    </div>

    <div class="floorArea shadow">
        @Html.Partial("_KitchenPartial", Model)
    </div>
    <a href="#">Tables <span class="tables badge"></span></a>
</div>

<script>
    $(function () {
        refreshTotal();
        window.setInterval(refresh, 60 * 1000);
    });

    function refreshTotal() {
        $(".tables.badge").html($(".table").length);
    }

    function updateCheckStatus() {
        var activeTab = $(".orderedChecks li.active");
        var active = $(".check").find(".tab-pane.active");

        var checkId = $(active).attr("data-value");
        var jqxhr = $.post($.validator.format("{0}Order/UpdateCheckStatus", root), { "checkId": checkId, "status": "Ready", "adjustment": 0, "split": 0, "type": "Guest" }, "json")
                .done(function (result) {
                    var tabs = $(".orderedChecks li");

                    $(activeTab).fadeOut("slow", function () {
                        activeTab.remove();
                        active.remove();

                        if (tabs.length > 0) {
                            $(".orderedChecks li:first a").tab("show");
                        }

                        if ($(".tab-content.check").html().trim() == "") {
                            $("#btnCancelKitchenDetails").click();
                        }
                    });

                    message("Status changed", "success", "topCenter");
                })
            .fail(function () {
                message("::updateCheckStatus:: Failed.", "error", "topCenter");
            })
            .always(function () {
            });
    }

    function viewTable(tableId) {
        var container = $(".floorArea");
        container.block();
        $(".kithenDetailsForm").remove();
        var jqxhr = $.get($.validator.format("{0}Order/KitchenDetails", root), { "tableId": tableId }, "json")
            .done(function (result) {
                $("#modalDetails").append(result);
                $(".orderedChecks li:first a").tab("show");
                $(".kithenDetailsForm").modal("show");

            })
            .fail(function () {
                message("::viewTable:: Failed.", "error", "topCenter");
            })
            .always(function () {
                container.unblock();
            });
    }

    function refresh() {
        $(".timer").countdown("destroy");
        $("#floorContainer").remove();

        var jqxhr = $.get($.validator.format("{0}Order/KitchenRefresh", root))
            .done(function (result) {
                $(".floorArea").append(result);
                addTimers();
                setTableStatus();
                setCheckStatus();
                printKitchenOrders();
            })
        .fail(function () {
            message("::setInterval:: Failed.", "error", "topCenter");
        })
        .always(function () {
            message("Refreshed", "success", "topCenter");
        });
    }
</script>