@model MenuzRus.Models.FloorModel
@using Services
<link href="@Url.Content("~/Scripts/countdown/jquery.countdown.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/floor.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/order.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/countdown/jquery.plugin.js")"></script>
<script src="@Url.Content("~/Scripts/countdown/jquery.countdown.js")"></script>
<script src="@Url.Content("~/Scripts/JQuery/jquery.json-2.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/tables.js")"></script>

<div class="well container container-floor shadow">
    <div class="modal-header main-header">
        <h2>Order System </h2>
    </div>

    <div class="floor">
        <div class="dropdown">
            <button id="btnFloor" type="button" class="btn alert-warning btn-lg" data-toggle="dropdown">@Model.Floor.Name&nbsp;</button>
            <ul id="floor" class="dropdown-menu alert-warning" role="menu">
                @foreach (Floor floor in Model.Floors) {
                    <li><a href="#" data-value="@floor.id">@floor.Name</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="floorArea shadow">
        <ul id="tables">
        </ul>
    </div>
    <a href="#">Tables <span class="tables badge"></span></a>
</div>
@Html.HiddenFor(m => m.Floor.id)
@Html.HiddenFor(m => m.Floor.Name)
@Html.HiddenFor(m => m.Floor.Layout)
@Html.HiddenFor(m => m.Floor.Width)
@Html.HiddenFor(m => m.Floor.Height)