@model MenuzRus.Models.OrderModel
<link href="@Url.Content("~/Content/product.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/order.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/table.js")"></script>
<script src="@Url.Content("~/Scripts/JQuery/jquery.json-2.4.min.js")"></script>

<div class="well container container-order shadow center">
    <div class="row">
        <div class="modal-header main-header">
            <h2>Take Order
                <button id="btnAdd" class="add-check btn btn-success shadow" style="margin-left: 95px;"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add Check</button>
                <button id="btnBack" type="button" class="btn btn-default shadow pull-right" style="margin-left: 15px;">Back to floor</button>
            </h2>
        </div>
    </div>
    <div class="row layout" style="text-justify: auto;">
        <div class="col-md-4 col-sm-4 shadow menu">
            <ul class="nav nav-tabs menu-tabs">
                <li><a href="#" data-toggle='tab'>
                    <h4>Menu
                    </h4>
                </a></li>
            </ul>
            <div class="tab-content menuItems" style="float: left;">
                @foreach (Services.Category category in Model.Categories) {
                    <div class="category" data-value="@category.id">
                        @category.Name
                    </div>
                    foreach (Services.Item item in category.Items) {
                        Decimal price = (Decimal)item.ItemPrices.OrderByDescending(m => m.DateCreated).Take(1).Select(m => m.Price).FirstOrDefault();
                    <div id="item.@item.id" class="btn btn-default knopaMenu" data-value="@item.id" onclick="javascript:orderMenuItem(@item.id)">
                        <div class="label label-default itemPrice shadow" data-value="@price">@String.Format("${0}", price)</div>
                        <div class="itemNameSmall">@item.Name</div>
                    </div>
                    }
                }
            </div>
        </div>

        <div class="col-md-7 -sm-7 shadow order">
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.TableId)