@model MenuzRus.Models.FloorModel
@using Services
<link href="@Url.Content("~/Scripts/gridster/jquery.gridster.css")" rel="stylesheet" />
<link href="@Url.Content("~/Scripts/countdown/jquery.countdown.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/floor.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/order.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/gridster/jquery.gridster.js")"></script>
<script src="@Url.Content("~/Scripts/countdown/jquery.plugin.js")"></script>
<script src="@Url.Content("~/Scripts/countdown/jquery.countdown.js")"></script>
<script src="@Url.Content("~/Scripts/JQuery/jquery.json-2.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/tables.js")"></script>

<div class="well container container-floor shadow">
    <div class="modal-header main-header">
        <h2>Order System </h2>
    </div>

    <div class="btn-group floor">
        <button id="btnFloor" type="button" class="btn btn-default btn-lg" data-toggle="dropdown">@Model.Floor.Name&nbsp;</button>
        <button id="btnFloorToogle" type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul id="floor" class="dropdown-menu" role="menu">
            @foreach (Floor floor in Model.Floors) {
                <li><a href="#" data-value="@floor.id">@floor.Name</a></li>
            }
        </ul>
    </div>

    <div class="gridster floorArea shadow">
        <ul>
        </ul>
    </div>
    <a href="#">Tables <span class="tables badge"></span></a>
</div>
@Html.HiddenFor(m => m.Floor.id)
@Html.HiddenFor(m => m.Floor.Name)
@Html.HiddenFor(m => m.Floor.Layout)
<script>
    initGridster();
</script>