@model MenuzRus.Models.OrderModel
<link href="@Url.Content("~/Content/order.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/product.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/table.js")"></script>

<div class="well container container-order shadow col-lg-12 col-md-12 center">
    <div class="row">
        <div class="modal-header main-header">
            <h2>Take Order
                <button id="btnAdd" class="add-check btn btn-primary shadow pull-right"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add Check</button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 shadow menu">
            <ul class="nav nav-tabs menu-tabs">
                <li><a href="#" data-toggle='tab'>
                    <h4>Menu</h4>
                </a></li>
            </ul>
            <div class="tab-content menuItems">
                @foreach (Services.Category category in Model.Categories) {
                    <ul id="@category.id">
                        <li class="category" data-value="@category.id">
                            @category.Name
                        </li>
                        @foreach (Services.Item item in category.Items) {
                            String select = String.Empty;
                            <li id="item.@item.id" class="item" data-value="@item.id"><a href="javascript:getAsosiation(@item.id)">@item.Name</a></li>
                        }
                    </ul>
                }
            </div>
        </div>

        <div class="col-lg-5 col-md-5 shadow order">
            <ul class="nav nav-tabs checks">
            </ul>
            <div class="tab-content check">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 shadow reciept">
        </div>
    </div>
</div>